@import url("/css/dailyCard.css");
@import url("/css/currentWeatherCards.css");

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-secondary);

    padding: clamp(0.3rem, 0.244vw + 0.222rem, 0.5rem) clamp(0.3rem, 0.244vw + 0.222rem, 0.5rem);
}

#changeLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-secondary);

    gap: 0.7vw;

    height: 2.65em;

    margin-right: 1.3vw;
    padding: 1vh 0.4vw;

    border-radius: 2rem;
    border-color: var(--accent);
    box-shadow: 2px 2px 5px var(--accent-weak);

    transition: box-shadow 180ms;
}
#changeLocation:hover {
    cursor: pointer;
    box-shadow: none;

    transition: box-shadow 180ms;
}
#changeLocation p {
    display: inline-block;
}
#changeLocation img {
    display: inline-block;
    height: 1.7em;
}

#pageBranding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;

    margin-left: 1vw;
}
#pageBranding img {
    width: clamp(3.5rem, 1.829vw + 2.915rem, 5rem);
}
#pageBranding h1 {
    font-weight: 900;
    font-size: clamp(1.5rem, 1.22vw + 1.11rem, 2.5rem);
    color: var(--accent);
}



section {
    padding: 0.5vh 0px 10vh;
}

h2 {
    font-size: clamp(1.3rem, 1.22vw + 0.91rem, 2.3rem);
    font-weight: 900;
    color: var(--accent-weak);
    margin-left: 3vw;
}

section div.sectionContent {
    max-width: 1140px;
    margin: auto;
    padding: 0px 3vw;
}
