header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-secondary);

    padding: 0px 0.8vw;
}

#changeLocation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    background-color: var(--bg-secondary);

    gap: 0.7vw;

    height: 2.65em;

    margin-right: 1.3vw;
    padding: 1vh 0.4vw;

    border-radius: 2rem;
    border-color: var(--accent);
    box-shadow: 2px 2px 5px var(--accent-weak);

    transition: box-shadow 180ms;
}
#changeLocation:hover {
    cursor: pointer;
    box-shadow: none;

    transition: box-shadow 180ms;
}
#changeLocation p {
    display: inline-block;
}
#changeLocation img {
    display: inline-block;
    height: 1.7em;
}

#pageBranding {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1.5vw;

    margin-left: 1vw;
}
#pageBranding img {
    width: 3.3vw;
}
#pageBranding h1 {
    font-weight: 900;
    font-size: 2.5rem;
    color: var(--accent);
}



section {
    padding: 0.5vh 1.5vw;
}

h2 {
    font-size: 2em;
    font-weight: 900;
    color: var(--accent-weak);
}

#currentWeatherWidgetline {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#currentWeatherWidgetline div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    border-radius: 30px;
    width: 20vw;
    padding: 1vh 1vw;
}
#currentWeatherWidgetline div h5 {
    font-size: 2em;
    text-align: center;
    margin: 0px;
    font-weight: 900;
}
#currentWeatherWidgetline div img {
    height: 23vh;
    margin: auto;
}
#currentWeatherWidgetline div p {
    font-size: 1.2em;
    text-align: center;
}

#windIcon {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto;

    height: 20vh !important;
    width: 20vh !important;
    padding: 0px !important;

    border: var(--accent) 7px solid;
    border-radius: 50rem !important;
}
#windIcon img {
    height: 10rem !important;
}
