:root {
    --bg-main: #c9c7c7;
    --bg-secondary: #ded8d8;

    --accent: #042056;
    --accent-weak: #233557;
}

body {
    margin: 0;
    padding: 0;

    background-color: var(--bg-main);
    font-family:  Arial;
}
